# Define a configuração padrão complementar dos serviços
# As variáveis utilizadas neste arquivo estão definidas no arquivo .env
version: '2'
services:
  rabbit:
    ports:
     - "5672:5672"
     - "15672:15672"
  discovery:
    ports:
     - "8761:8761"
     - "47961:8000"
    environment:
     - JAVA_OPTS=${JAVA_DEBUG_OPTS} ${JAVA_SERVICE_OPTS}
  gateway:
    ports:
     - "8765:8765"
     - "47965:${JAVA_DEBUG_PORT}"
    environment:
     - JAVA_OPTS=${JAVA_DEBUG_OPTS} ${JAVA_SERVICE_OPTS}     
  ui:
    ports:
     - "8443:8443"
  userauthentication:
    ports:
     - "8095:8095"
     - "8195:8195"
     - "47995:${JAVA_DEBUG_PORT}"
    environment:
     - spring.profiles.active=${JAVA_SERVICE_SPRING_PROFILES}
     - JAVA_OPTS=${JAVA_DEBUG_OPTS} ${JAVA_SERVICE_OPTS}